 li{
    list-style: none;
}
.bt{
    background-color: rgba(255, 255, 255, 0.438);
    border: solid black 2px;
    &:hover{
        transform: scale(1.1);
        color: black;
    }
}
body{
    background-color: rgba(0, 0, 0, 0.178);
}

@media screen and (max-width: 576px) and (min-width: 540px) {
  nav {  
         align-items: center;
         display: flex ; 
         flex-direction: column ; 
     }
 }

