$altura:200px;

.conte{
    div{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        .boj{
            margin: 20px 5%;
            img{
                height: $altura*2;
               
            }
        }
    }
}
@mixin boj ($formato, $direccion, $justificado, $alineacion){
    display: $formato;
    flex-direction: $direccion;
    justify-content: $justificado;
    align-items: $alineacion;    
}
.boj {
    @include boj ( flex, column, center, center)
}